.user-form {
    background-color: #131218;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
.user-form__controls {
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    
  }
  
  .user-form__control label {
    color: white;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .user-form__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 45rem;
    max-width: 100%;
  }
  
  .user-form__actions {
    text-align: left;
  }